#1. Run `cp terraform.tfvars.example terraform.tfvars`

environment            = "dev"
zone_name              = "yourdomain.com"
record_name            = "yourdomain.com"
vpc_cidr               = "10.0.0.0/16"
region                 = "eu-west-1"
alb_security_name      = "alb-security"
target_group_name      = "gatus-target-group"
container_insights     = true
task_family_name       = "gatus-task"
retention_in_days      = 5
task_level_cpu         = 256
task_level_memory      = 512
container_name         = "gatus_app"
container_image        = "ghcr.io/twin/gatus:latest" # -- placeholder
container_level_cpu    = 256
container_level_memory = 512
container_port         = 8080
host_port              = 8080
task_cloudwatch_logs   = "/ecs/gatus_logs"
ecs_service_name       = "gatus-ecs-service"
ecs_cluster_name       = "gatus-ecs-cluster"
desired_count          = 2
validation_method      = "DNS"
target_health          = true